{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <title>Reflections</title>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Srisakdi&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lancelot&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Metal&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
  <script  defer src="{% static 'js/app.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>
<body class="water">
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'memories_index' %}">All Reflections</a></li>
          <li><img src="https://i.imgur.com/XqRehBY.jpg" alt="" style="width: 75px;"></li>
          <li><h1>Reflections</h1></li>
          <li><img src="https://i.imgur.com/XqRehBY.jpg" alt="" style="width: 75px;"></li>
          <li><a href="{% url 'memories_create' %}">Capture Moment</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><img src="https://i.imgur.com/XqRehBY.jpg" alt="" style="width: 75px;"></li>
          <li><h1>Reflections</h1></li>
          <li><img src="https://i.imgur.com/XqRehBY.jpg" alt="" style="width: 75px;"></li>
          <li><a class="account" href="{% url 'home' %}">Log In</a></li>
          <li><a class="account" href="{% url 'signup' %}">Sign Up</a></li> 
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
  {% block content %}
  {% endblock %}
  </main>
</body>
</html>
