{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}

<div class="something">
  
</div>

{% if error_message %}
  <p class="error-text">{{ error_message }}</p>
{% endif %}
<section class="signup-container">
  <form action="" method="post" class="signup-form" autocomplete="off">
    <h1>Sign Up</h1>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>
</section>

<section class="clear">
  <div class="glass2"></div>
</section>
{% endblock %}
