.primary {
  width: 60vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  height: 60vh;
  position: absolute;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.intro section {
  height: 60vh;
  width: 40vw;
  /* bottom: 20%; */
  background: url("https://media.istockphoto.com/photos/water-texture-picture-id146894620?b=1&k=20&m=146894620&s=170667a&w=0&h=deKuJEmmYsrDC7Z5bIxgQ1LkWDXSQdmj7q_60m_9OUI=") no-repeat, center;
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glass {
  height: 60vh;
  width: 40vw;
  /* bottom: 20%; */
  background: linear-gradient(to top, rgba(255,255,255,0.9), rgba(255,255,255,0.5));
  background-size: cover;
  z-index: 2;
  position: absolute;
}

.description {
  height: 60vh;
  width: 95%;
  line-height: 2rem;
  z-index: 3;
}

.description h2 {
  height: 10%;
  font-family: "Kaushan Script";
  text-align: center;
  font-size: 4vw;
}

.description p {
  height: 40%;
  font-family: "Metal";
  font-size: 2vw;
  line-height: 2.5rem;
  font-weight: bold;
}



