main {
  min-height: 80vh;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  min-height: 80vh;
  width: 400px;
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.3));
}

