#primary {
  height: 100vh;
  background: url("https://media.istockphoto.com/photos/water-texture-picture-id146894620?b=1&k=20&m=146894620&s=170667a&w=0&h=deKuJEmmYsrDC7Z5bIxgQ1LkWDXSQdmj7q_60m_9OUI=") no-repeat, center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.still {
  height: 60vh;
  width: 30%;
  background: url("https://media.istockphoto.com/photos/water-texture-picture-id146894620?b=1&k=20&m=146894620&s=170667a&w=0&h=deKuJEmmYsrDC7Z5bIxgQ1LkWDXSQdmj7q_60m_9OUI=") no-repeat, center;
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glass {
  height: 60vh;
  width: 30%;
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  z-index: 2;
  position: absolute;
}

.description {
  height: 60vh;
  width: 100%;
  line-height: 2rem;
  z-index: 3;
}



.logo-header {
  z-index: 3;
}

