html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  margin-top: -22px;
}

.water {
  width: 100%;
  min-height: 100vh;
  background: url('https://media.istockphoto.com/photos/water-texture-picture-id146894620?b=1&k=20&m=146894620&s=170667a&w=0&h=deKuJEmmYsrDC7Z5bIxgQ1LkWDXSQdmj7q_60m_9OUI=') no-repeat center;
  background-size: cover;
}

h1 {
  color: beige;
}

header {
background-color: black;
height: 10%;
}

nav {
  font-family: 'Cinzel Decorative';
  font-size: 22px;
  font-weight: 1500;
}

nav a {
  color: beige;
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding: 6px 13px;
}

.nav-title {
  display: inline;
}

.account{
  align-self: flex-end;
}