.memory-detail {
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.memory-card {
  height: 60vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  margin-top: 5%;
  margin-left: -45%;
  position: absolute;
}

.memory-card h1 {
  color:rgb(4, 14, 70);
  font-family: "Kaushan Script";
  text-align: center;
  font-size: 6vw;
  font-weight: bolder;
  margin-bottom: -1%;
  margin-top: -4%;
  margin-left: 50%;
}

.memory-card h2 {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-left: 50vw;
  color: rgb(47, 6, 65);
  font-size: 3vw;
  font-family: "Metal";
}

.memory-card .description {
  font-size: 1.5vw;
  margin-bottom: 10px;
}

.memory-card .btn {
  margin-top: 1vw;
  margin-left: 90vw;
  margin-top: 35vw;
  font-size: 2.5rem;
  color: rgb(199, 12, 115);
  font-family: "Metal";
  background-color: rgba(255,255,255,0);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 15px -5px white;
  font-weight: bolder;
  text-decoration: none;
  position: absolute;
}

.clear2 {
  min-height: 60%;
  width: 60%;
  bottom: 20%;
  background: url("https://i.imgur.com/XqRehBY.jpg") no-repeat, center;
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 20%;
}

.glass4 {
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(255,255,255,0.8), rgba(255,255,255,0.4));
  background-size: cover;
  z-index: 2;
  position: absolute;
}