section {
  min-height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.signup-form {
  min-height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  margin-top: 5%;
  margin-left: -45%;
  position: absolute;
}

.signup-form h1 {
  color:rgb(4, 14, 70);
  font-family: "Kaushan Script";
  font-size: 4rem;
  font-weight: bolder;
}

.clear {
  min-height: 60%;
  width: 60%;
  bottom: 20%;
  background: url("https://i.imgur.com/XqRehBY.jpg") no-repeat, center;
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 20%;
}

.glass2 {
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(255,255,255,0.8), rgba(255,255,255,0.4));
  background-size: cover;
  z-index: 2;
  position: absolute;
}