.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  height: 60vh;
  width: 60%;
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.3));
}